<div class="container mat-elevation-z8">

  <div class="header">

    <mat-form-field class="header-field">
      <mat-select placeholder="Select an attribute" [(value)]="currentFilter">
        <mat-option *ngFor="let attr of displayedColumns" [value]="attr">
          {{ filterVals[attr] }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="header-field">

      <ng-container [ngSwitch]="currentFilter">

        <ng-container *ngSwitchCase="null">
          <input matInput disabled placeholder="Search">
        </ng-container>

        <ng-container *ngSwitchCase="'gender'">
          <mat-select placeholder="Select a value">
            <mat-option *ngFor="let gender of genders" (click)="getPatients(gender)" [value]="gender">{{ gender }}</mat-option>
          </mat-select>
        </ng-container>

        <ng-container *ngSwitchCase="'active'">
          <ng-template *ngTemplateOutlet="booleanSelect"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'deceased'">
          <ng-template *ngTemplateOutlet="booleanSelect"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'deceasedOn'">
          <ng-template *ngTemplateOutlet="dateInput"></ng-template>
        </ng-container>

        <ng-container *ngSwitchCase="'birthDate'">
          <ng-template *ngTemplateOutlet="dateInput"></ng-template>
        </ng-container>

        <ng-container *ngSwitchDefault>
          <input matInput (keyup)="getPatients($event.target.value)" placeholder="Search" #text>
        </ng-container>

      </ng-container>

      <ng-template #booleanSelect>
        <mat-select placeholder="Select a value">
          <mat-option (click)="getPatients('true')" value="Yes">Yes</mat-option>
          <mat-option (click)="getPatients('false')" value="No">No</mat-option>
        </mat-select>
      </ng-template>

      <ng-template #dateInput>
        <input type="date" matInput (change)="getPatients($event.target.value)" placeholder="Search" #date>
      </ng-template>

    </mat-form-field>

    <button mat-raised-button (click)="currentFilter=''; getPatients()">
      Clear
      <mat-icon class="close-icon">close</mat-icon>
    </button>

    <button mat-raised-button color="primary" (click)="populateDB()">
      Populate database from FHIR server
    </button>

  </div>

  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="fullId">
      <mat-header-cell *matHeaderCellDef> Link </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a href="{{ element.fullId }}" target="_blank">Click here</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef> Active </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.active ? 'Yes' : 'No' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gender">
      <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.gender || '--' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef> Birth date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.birthDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deceased">
      <mat-header-cell *matHeaderCellDef> Deceased </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.deceased ? 'Yes' : 'No' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="deceasedOn">
      <mat-header-cell *matHeaderCellDef> Deceased on </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.deceasedOn || '--' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="encounters">
      <mat-header-cell *matHeaderCellDef> Encounters </mat-header-cell>
      <!-- <mat-cell *matCellDef="let element"> -- </mat-cell>       -->
      <mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select placeholder="Encounter..." class="wide-dropdown">
            <mat-select-trigger>
              <input class="encounter-label" type="text" #label>
            </mat-select-trigger>
            <mat-option *ngFor="let encounter of element.encounters" value="encounter" (click)="label.value = (encounter.reason || '--') + ' => ' + encounter.status; getObservations(encounter, element)">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <strong>Reason:&nbsp;</strong>{{ encounter.reason || '--' }}</mat-list-item>
                <mat-list-item role="listitem">
                  <strong>Status:&nbsp;</strong>{{ encounter.status || '--' }}</mat-list-item>
                <mat-list-item role="listitem">
                  <strong>Start period:&nbsp;</strong>{{ encounter.startPeriod | date }}</mat-list-item>
                <mat-list-item role="listitem">
                  <strong>Type:&nbsp;</strong>{{ encounter.type || '--' }}</mat-list-item>
              </mat-list>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="observations">
      <mat-header-cell *matHeaderCellDef> Observations </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select placeholder="Observation..." class="wide-dropdown observation-dropdown">
            <mat-select-trigger>
              <input class="observation-label" type="text" #obsLabel>
            </mat-select-trigger>
            <mat-option *ngFor="let observation of element.observations" value="observation" (click)="obsLabel.value = observation.status">
              <mat-list role="list">
                <mat-list-item role="listitem">
                  <strong>Status:&nbsp;</strong>{{ observation.status || '--' }}</mat-list-item>
                <mat-list-item role="listitem">
                  <strong>Effective start period:&nbsp;</strong>{{ observation.effectiveStartPeriod | date }}</mat-list-item>
              </mat-list>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>